has-error{
    border-color:red;
}
.asterisk
{
    color:red;
}
.fa{
    padding: 5px;
}
.green{
    color:green;
}
.blue{
    color:blue;
}
.black{
    color:black;
}
.red{
    color:red;
}
.orange{
    color:orange;
}

.col-md-4.filterRow {
    padding-bottom: 1em;
}

.lab{
    font-size: 2em !important;
    font-weight: 200 !important ;
}
body.login-design {
    background-image: url('../images/bg.png');
}
.form-body {
    background-color: #fff;
    padding: 40px;
    border: 2px solid #ccc;
    box-shadow: 7px 6px 30px rgba(0, 0, 0, 0.42);
    margin-top: 70px;
}
.login-info .form-group {
    margin: 0px;
}
.row.expand_row {
    margin-top: 15px;
}
ul.dropdown-user.profile_right_menu li {
    padding: 5px !important;
}

.blue-bg{
    background-color: #12B3C5 !important;
}
.btn-primary, .paginate_button.current {
    background-color: #12B3C5 !important;
    border: 1px solid #12B3C5 !important;
}
.text-white, .breadcrumb a{ 
    color: #FFFFFF;
}
.page-wrapper {
    background: #b4c0cf8c !important;
    padding-bottom: 60px;
}
.panel-default>.panel-heading {
    background-color: #b4c0cf8c !important;
    border-color: #ddd;
}
.padding-top-15 {
    padding-top: 15px;
}
.text-align-center {
    text-align: center;
}
.topbar-right-section{padding-top: 7px;}
.topbar-right-section .nav-link{padding-right: 10px;}
.topbar-left-heading {padding-top:15px;}
.topbar-left-heading span {font-size:20px; color:#607d8b;}
.badge-success {background-color: green !important;}
/***
Public Song Page CSS
**/

.song-main-container{
   box-shadow:  5px 5px 18px 7px rgba(0, 0, 0, 0.2)  !important;
   padding: 0 !important;
}
.song-main-container .card-title{
    margin:0 0 40px 0;
    text-align: center;
    color: #fff;
}
.song-main-container .card-title h4{    color: #fff;}
.thumbnail-container, .audio-player-container{margin-bottom: 40px;}
/* .thumbnail-container img{width:400px;height:auto;} */
.footer-song-page{left:0 !important;}
.play-song-page .song-head{margin-bottom:0;}
.play-song-page .container-fluid{ background-color: #b4c0cf8c !important; padding: 40px 80px;}
.play-song-page .card-title { line-height: 65px!important; height: 65px!important;}
.song-container audio{width:100%;}
.song-thumbnail img{
    /*  height: 35px; */
    width:100%;}

.view-back-btn {
    padding: 3px 8px 3px 1px !important;
    margin-top: -7px;
}

td.link a{
    color:#12B3C5 ;
    width: 200px;
}

.view-panel .row{
    margin-bottom: 10px;
}
.view-panel .row>div:first-child{
    font-weight: bold;
}
.pdf-desktop-view{display: block;}
.pdf-mobile-view{display: none;}
.appreciation-btn{padding:10px 20px !important;font-size: 13px !important;}
.thumb-img img {height: 380px; width:100%;}
/***
Responsive CSS
**/

/* / Extra small devices (phones, 600px and down) / */
@media only screen and (max-width: 600px) {
    body,.form-control,.title,.panel-title,.btn{
        font-size:10px
    }
    .displayNone
    {
        display:none ;
    }
    .play-song-page .container-fluid{
        padding:0px;
    }
    .profile-view-container{
        margin-top: 20px;
    }
    .topbar-left-heading {
        padding-top: 0px;
    }
    .header-date {
        font-size: 12px;
        padding-left: 10px;
        vertical-align: text-bottom;
        margin-top: 19px;
        padding-left: 11px;
        margin-left: 9%;
    }
    .header-title{
        padding-left: 10px;
        margin-left: 20px;
    }
   
}

/* / Small devices (portrait tablets and large phones, 600px and up) / */
@media only screen and (min-width: 600px) {
    body,.form-control,.title,.panel-title,.btn{
        font-size:12px
    }
    h3 {
        line-height: 30px;
        font-size: 15px !important;
    }
    .play-song-page .container-fluid{
        padding:0px;
    }
    .profile-view-container{
        margin-top: 20px;
    }
    .header-date {
        font-size: 12px;
        padding-left: 10px;
        vertical-align: text-bottom;
        margin-top: 19px;
        padding-left: 11px;
    }
    .topbar-left-heading {
        padding-top: 0px;
    }
    .header-title{
        padding-left: 10px;
        margin-left: 25px;
    }

}

/* / Medium devices (landscape tablets, 768px and up) / */
@media only screen and (min-width: 768px) {
    body,.form-control,.title,.panel-title,.btn{
        font-size:14px
    }
    .play-song-page .container-fluid{
        padding:0px;
    }
    .header-date {
        font-size: 12px;
        padding-left: 10px;
    }
   
}

/* / Large devices (laptops/desktops, 992px and up) / */
@media only screen and (min-width: 992px) {
    .play-song-page .container-fluid{
        padding: 40px 80px;
    }
}

/* / Extra large devices (large laptops and desktops, 1200px and up) / */
@media only screen and (min-width: 1200px) {
    .play-song-page .container-fluid{
        padding: 40px 80px;
    }
}

@media  (max-width: 768px) and (min-width: 320px) {
    .pdf-desktop-view{display: none;}
    .pdf-mobile-view{display: block;}
    .song-head h3{text-align: center;}
    .thumb-img img {height:auto; max-height: 380px;}
    .audio-player-container{padding:0;}
}
